In [3]:
import pandas as pd
import glob
from tqdm import tqdm

In [4]:
file_pattern = 'part-*.csv'

result_df = pd.DataFrame()

file_list = glob.glob(file_pattern)

for file in tqdm(file_list, desc="Processing Files"):
    df = pd.read_csv(file)
    
    selected_columns = df[['start time', 'end time', 'CPU rate', 'canonical memory usage']]
    
    result_df = pd.concat([result_df, selected_columns], ignore_index=True)

Processing Files: 100%|███████████████████████| 500/500 [39:19<00:00,  4.72s/it]

In [5]:
result_df

               start time       end time  CPU rate  canonical memory usage
0           2120338000000  2120400000000  0.003361                0.003445
1           2120338000000  2120339000000  0.000000                0.000158
2           2120338000000  2120340000000  0.003223                0.000268
3           2120338000000  2120400000000  0.001604                0.002502
4           2120338000000  2120339000000  0.000000                0.000000
...                   ...            ...       ...                     ...
1232798803  2436043000000  2436113000000  0.000683                0.001663
1232798804  2436043000000  2436045000000  0.000000                0.000000
1232798805  2436043000000  2436045000000  0.000000                0.000000
1232798806  2436043000000  2436044000000  0.000000                0.000000
1232798807  2436043000000  2436044000000  0.000000                0.000000

[1232798808 rows x 4 columns]

In [6]:
result_df = result_df.sort_values(by='start time', ascending=True)

In [7]:
result_df

               start time       end time  CPU rate  canonical memory usage
15746965        600000000      900000000  0.032170                0.008102
15729068        600000000      900000000  0.000193                0.000589
15729067        600000000      900000000  0.000201                0.000568
15729066        600000000      900000000  0.000189                0.000532
15729065        600000000      900000000  0.000200                0.000567
...                   ...            ...       ...                     ...
1194463293  2506199000000  2506200000000  0.000000                0.000000
1194463294  2506199000000  2506200000000  0.000000                0.000000
1194463295  2506199000000  2506200000000  0.000000                0.000000
1194463289  2506199000000  2506200000000  0.088750                0.029720
1194463317  2506199000000  2506200000000  0.002762                0.000124

[1232798808 rows x 4 columns]

In [8]:
result_df.to_csv('original.csv')

In [9]:
result_df = result_df.reset_index(drop=True)

In [10]:
result_df['start time'] = result_df['start time'] / 1000000
result_df['end time'] = result_df['end time'] / 1000000

In [11]:
result_df

            start time   end time  CPU rate  canonical memory usage
0                600.0      900.0  0.032170                0.008102
1                600.0      900.0  0.000193                0.000589
2                600.0      900.0  0.000201                0.000568
3                600.0      900.0  0.000189                0.000532
4                600.0      900.0  0.000200                0.000567
...                ...        ...       ...                     ...
1232798803   2506199.0  2506200.0  0.000000                0.000000
1232798804   2506199.0  2506200.0  0.000000                0.000000
1232798805   2506199.0  2506200.0  0.000000                0.000000
1232798806   2506199.0  2506200.0  0.088750                0.029720
1232798807   2506199.0  2506200.0  0.002762                0.000124

[1232798808 rows x 4 columns]

In [12]:
result_df.to_csv('original_cpu_memory.csv')